<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Campground</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        input
        {
            display: block;
            width: 30%;
            margin: 20px;
            margin-left: 35%;          
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/campgrounds/<%= campGround._id %>" method="POST">
            <h1 style="color: steelblue; text-align: center;">Add new Comment to <%= campGround.name %></h1>
            <input type="text" name="comment[author]" placeholder="Author">
            <input type="text" name="comment[text]" placeholder="Description">
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</body>
</html>