<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
        <div class="jumbotron">
            <h1>Welcome to Landing page of YelpCamp!</h1>
            <p>Here are some beautifull YelpCamp Grounds</p>
            <a class="btn btn-primary" href="/campgrounds/new">Add New Campground</a>
        </div>
        <div class="row">
        <% campGround.forEach(function(camp){ %>
            <div class="col-md-3 col-sm-6 img-thumbnail" style="display: flex; flex-wrap: wrap;">
                <img src="<%= camp.image %>" alt="">
                <p><%= camp.name %></p>
                <p style="margin-top: 25px;"><a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">More Info</a></p>
            </div>
        <% })  %>
        </div>
    </div>

</body>
</html>